.git
.git/**
**/.git
**/.git/**

.env
.env.*
**/.env
**/.env.*
**/*.env
**/*.env.*

__pycache__
__pycache__/**
**/__pycache__
**/__pycache__/**
*.py[cod]
**/*.py[cod]
.pytest_cache
.pytest_cache/**
**/.pytest_cache
**/.pytest_cache/**

tests
tests/**
**/tests
**/tests/**

*.db
*.db-*
*.sqlite
*.sqlite-*
*.sqlite3
*.sqlite3-*
**/*.db
**/*.db-*
**/*.sqlite
**/*.sqlite-*
**/*.sqlite3
**/*.sqlite3-*

.github
.github/**
output
output/**
